<sly data-sly-test.notEmpty="${properties.categoryId && properties.imageRelativePath}">
</sly>
<sly data-sly-test="${notEmpty}"
     data-sly-use.model="${'com.stylish.core.models.FetchProducts' @ categoryCode=properties.categoryId}">
    <sly data-sly-set.cardLimit="${properties.cardLimit || 4}"></sly>
    <section class="product-store" id="featured-products">
        <div class="container-md">
            <div class="display-header d-flex align-items-center justify-content-between">
                <h2 class="section-title text-uppercase">${properties.sectionTitle}</h2>
                <div class="btn-right">
                    <a class="d-inline-block text-uppercase text-hover fw-bold"
                       href="${properties.ctaLink}.html">${properties.ctaTitle}</a>
                </div>
            </div>
            <div class="product-content padding-small">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5"
                     data-sly-attribute.max-items="${cardLimit}"
                     data-sly-list.product="${model.products}">
                    <div class="col mb-4"
                         data-sly-attribute.products-count="${productList.index}"
                         data-sly-test="${productList.index <= properties.cardLimit}">
                        <div class="product-card position-relative">
                            <div class="card-img">
                                <img alt="product-item p-${product.sku}"
                                     class="product-image img-fluid"
                                     src="${properties.imageRelativePath}/${product.imagePath}">
                                <div class="cart-concern position-absolute d-flex justify-content-center">
                                    <div class="cart-button d-flex gap-2 justify-content-center align-items-center">
                                        <button class="btn btn-light" data-bs-target="#modallong" data-bs-toggle="modal"
                                                type="button">
                                            <svg class="shopping-carriage">
                                                <use xlink:href="#shopping-carriage"></use>
                                            </svg>
                                        </button>
                                        <button class="btn btn-light" data-bs-target="#modaltoggle"
                                                data-bs-toggle="modal"
                                                type="button">
                                            <svg class="quick-view">
                                                <use xlink:href="#quick-view"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <!-- cart-concern -->
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-center mt-3">
                                <h3 class="card-title fs-6 fw-normal m-0">
                                    <a href="index.html">${product.name}</a>
                                </h3>
                                <span class="card-price fw-bold">$ ${product.price}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</sly>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <sly data-sly-call="${templates.placeholder @ isEmpty = !notEmpty}"></sly>
</sly>

