<template data-sly-template.item="${@ item='The navigation item'}"
          data-sly-use.groupTemplate="group.html"
          data-sly-use.itemContentTemplate="itemContent.html">
    <li class="nav-item ${item.children.size > 1 ? 'dropdown' : ''} cmp-navigation__item cmp-navigation__item--level-${item.level}${item.active ? ' cmp-navigation__item--active' : ''}"
        data-cmp-data-layer="${item.data.json}">
        <sly data-sly-call="${itemContentTemplate.itemContent @ item = item}"></sly>
    </li>
</template>
