<nav data-sly-use.navigation="com.adobe.cq.wcm.core.components.models.Navigation"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-use.groupTemplate="group.html"
     data-sly-test.hasContent="${navigation.items.size > 0}"
     id="${navigation.id} header-nav"
     class="cmp-navigation navbar navbar-expand-lg"
     itemscope itemtype="http://schema.org/SiteNavigationElement"
     data-cmp-data-layer="${navigation.data.json}"
     aria-label="${navigation.accessibilityLabel}"
     role="navigation">
    <div class="container-lg">
        <a class="navbar-brand" href="${properties.brandLogoLink @ context='uri'}.html">
            <img src="${properties.brandLogoFileReference}" class="logo" alt="${properties.brandLogoAltText}">
        </a>
        <button class="navbar-toggler d-flex d-lg-none order-3 border-0 p-1 ms-2" type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
            <svg class="navbar-icon">
                <use xlink:href="#navbar-icon"></use>
            </svg>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar">
            <div class="offcanvas-header px-4 pb-0">
                <a class="navbar-brand ps-3" href="${properties.brandLogoLink @ context='uri'}.html">
                    <img src="${properties.brandLogoFileReference}" class="logo" alt="${properties.brandLogoAltText}">
                </a>
                <button type="button" class="btn-close btn-close-black p-5" data-bs-dismiss="offcanvas"
                        aria-label="Close"
                        data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body" data-sly-call="${groupTemplate.group @ items=navigation.items}">
            </div>
        </div>
        <div class="user-items ps-0 ps-md-5"
             data-sly-use.iconsMenu="${'com.stylish.core.models.RetrieveMultifieldResources'
                                            @ path=currentNode.path, node='iconsMenu'}">
            <ul data-sly-test="${iconsMenu.resources.size > 0}"
                class="d-flex justify-content-end list-unstyled align-item-center m-0"
                data-sly-list.menu="${iconsMenu.resources}">
                <li class="pe-3">
                    <a class="border-0" data-bs-target="#${menu.modalTarget}" data-bs-toggle="modal" href="#">
                        <svg class="${menu.icon}" height="24" width="24">
                            <use xlink:href="#${menu.icon}"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent, classAppend='cmp-navigation'}"></sly>